<!-- Главное меню -->
{% load staticfiles %}

<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.13/css/all.css"
      integrity="sha384-DNOHZ68U8hZfKXOrtjWvjxusGo9WQnrNx2sqG0tfsghAvtVlRW3tvkXWZh58N9jp" crossorigin="anonymous">
<link rel="stylesheet" media="all" href={% static "css/style.css" %} type="text/css">
<link rel="stylesheet" media="all" href={% static "css/plagins/jquery.datetimepicker.css" %} type="text/css">
<link rel="stylesheet" media="all" href={% static "css/plagins/jquery-ui.css" %} type="text/css">
<link rel="stylesheet" media="all" href={% static "css/plagins/jquery-ui.theme.css" %} type="text/css">
<link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">

<script type="text/javascript" src="{% static 'js/plugins/jquery.js' %}"></script>
<!-- Главное меню -->
<ul>

</ul>
<!-- Главное меню -->